.card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 18px;
    background: rgb(40,40,40);
    background: linear-gradient(20deg, rgba(40,40,40,1) 0%, rgba(56,56,56,1) 100%);
    border-radius: 10px;
    width: 20%;
    height: 300px;
    margin: 10px;
    transition: all 0.2s;

}
.card:hover{
    transform: translatey(-10px);
    transition: all 0.3s;
}
.card h1 {
    margin: 0px;
}
.artist{
    display: flex;
    align-items: center;
    margin: 5px 0px;
}
.artist label{
    margin-left: 5px;
}
.link button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    margin-left: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    width: 100%;
    cursor: pointer;
}
.link {
    align-self: center;
    justify-content: center;
    display: flex;
    background-color: green;
    padding: 5px;
    width: 50%;
    height: 15%;
    border-radius: 20px;
}
.link img{
    width: auto;
    height: 100%;
}
@media(max-width:1000px){
        .card{
            width: 80%;
            height: 150px;
        }
        
        label{
            font-size:0.8rem;
        }
        .link{
            align-self: flex-start;
            height: 30%;
            width: 15%;
        }
        
}

